@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color: #948979;
    --base-color: #393E46;
    --text-color: #222831;
    --input-color: #DFD0B8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins, Courier, monospace;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: right;
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    background-color: var(--accent-color);
    height: 100vh;
    width: max(40%,600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--base-color);
    fill: var(--input-color);
    color: var(--input-color);
    border-radius:10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover{
    border: 2px solid var(--base-color);
}

form input:focus{      /*this is fous on the input when you click it*/
    outline: none;
    border-color: var(--text-color);
}
/*This selector select only the input >> label that had click */
div:has(input:focus) > label{
    background-color: var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em; /*em is use compair to fontsize example 4em is 4% bigger than font size */
    background-color: var(--base-color);
    color: var(--input-color);
    cursor: pointer;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--input-color);
}

a:hover{
    text-decoration: underline;
}
@media (max-width: 1100px) {
    .wrapper{
        width: min(600px,100%);
        border-radius: 0;
    }
}
form div.incorrect label{
    background-color: #8B0000;
}
form div.incorrect input{
    border-color: #8B0000;
}

#errors-message{
  color: #8B0000;
  background: #F8D7DA;
  padding: 10px;
  border-radius: 4px;

}
